// Utilities
@import "utils/_vars";

// Basics
@import "base/_reset";

// Components
@import "components/_buttons";
@import "components/_typography";
@import "components/_fields";
@import "components/_icons";

@import "layout/_header";

.logo {
	display: inline-block;
	font-family: $ff-ledger;
	font-size: 2.4rem;
	font-weight: 400;
	background: $l-gradient-1;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.creator {
	font-size: 1.8rem;
	font-family: $ff-cairo;
	font-weight: 500;
}

.copyright {
	font-size: 1.8rem;
	font-weight: 400;

	span {
		font-family: $ff-ledger;
	}
}

.main {
	flex-grow: 1;
}

.social-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	inline-size: 4.2rem;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 1px solid $base-color;
	flex-shrink: 0;

	img {
		width: 52.5%;
		aspect-ratio: 1;
		object-fit: contain;
	}
}

.sh-elem {
	display: block;
	pointer-events: none;
	user-select: none;
	position: absolute;
	z-index: -1;

	&-1 {
		inset-inline-end: 10%;
		inset-block-start: -100%;
	}

	&-2 {
		inset-inline-end: -35%;
		inset-block-end: -70%;
	}
}

.block {
	&-intro {
		padding: 0;

		&__title {
			font-size: 8rem;
			margin-block-end: 2.8rem;
			line-height: 1.3875;
		}

		&__subtitle {
			font-size: 4rem;
			font-weight: 300;
			line-height: 1.2;
		}

		&__btn {
			padding-inline: 3.55rem;
		}
	}

	&-about {
		&__logo {
			font-size: 3.2rem;
		}

		&__btn-default {
			padding-inline: 3.2rem;
		}
	}

	&-scheme-work {
		&__grid {
			&-elem {
				width: 22rem;
				height: 0.5rem;
				background: $l-gradient-3;
				margin: auto;
				transform: translateY(-2.7rem);
			}

			&-item {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 2.6rem;
				font-weight: 600;

				div {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					font-size: 11rem;
					font-family: $ff-nunito;
					background: $l-gradient-1;
					background-clip: text;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					line-height: 1;
					border-radius: 50%;
					aspect-ratio: 1;
					border: 1px solid;
					width: 19.8rem;
				}

				p {
					display: -webkit-box;
					font-size: 1.8rem;
					text-align: center;
					text-wrap: balance;
					max-width: 27.5rem;

				}
			}
		}

		.title {
			background: $l-gradient-2;
			background-clip: text;
		}
	}
}

.custom-scrollbar {
	text-transform: uppercase;
	font-family: $ff-ledger;
	font-size: 1.9rem;
	font-weight: 400;
	line-height: 1.121;
	letter-spacing: 1.9px;
}

@import "layout/_footer";

// Media queries
@import "_media";
