.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 0.5rem 1rem;
	min-height: 5.2rem;
	font-size: 1.6rem;
	font-weight: 500;
	padding-inline: 9.3rem;
	padding-block: 1.2rem;
	letter-spacing: 0.08rem;
	border-radius: 2.5rem;
	transition: $trn-1;
	flex: 0 0 auto;

	&:hover {
		filter: brightness(70%);
		color: $base-color;
	}

	&-default {
		color: $color-2;
		background: $l-gradient-2;

		&:hover {
			color: $color-1;
		}
	}

	&-ghost {
		color: $base-color;
		background: none;
		border: 2px solid $base-color;
		padding-inline: 3.2rem;
	}
}