.input {
	display: inline-flex;
	align-items: center;
	text-align: start;
	width: 100%;
	min-height: 5.2rem;
	font-size: 1.6rem;
	font-weight: 500;
	padding-block: 1.2rem;
	padding-inline: 2rem;
	border-radius: 2.5rem;
	color: $base-color;
	background: $color-4;

	&::placeholder {
		color: $color-5;
	}
}