$root-fs: 10px !default;
$base-fs: 1.6rem !default;
$base-fw: 500 !default;
$base-ff: "Montserrat", sans-serif !default;
$base-trn: all 0.15s ease-in 0s !default;

$ff-ledger: "Ledger", sans-serif;
$ff-cairo: "Cairo", sans-serif;
$ff-nunito: "Nunito Sans", sans-serif;

$base-color: #ffffff;
$main-color: #9cbede;
$color-1: #222222;
$color-2: #181924;
$color-3: #fcf4ea;
$color-4: rgba(255, 255, 255, 0.12);
$color-5: #313131;
$color-6: #636363;

$l-gradient-1: linear-gradient(90deg, #fef8f2 6.7%, #a2c2dc 98.33%);
$l-gradient-2: linear-gradient(90deg, #bcd2e5 14.9%, #fff 84.67%);
$l-gradient-3: linear-gradient(90deg, rgba(219, 186, 186, 0.00) 0%, #BCD2E5 51.04%, rgba(219, 186, 186, 0.00) 100%);

$accent-color: $main-color;
$bg-selection-color: $main-color;
$text-selection-color: $color-1;
$link: $base-color;

$trn-1: all 0.225s ease-out 0s;
