.header {
	position: absolute;
	width: 100%;
	font-weight: 400;
	font-size: 1.8rem;
	z-index: 80;
	background-color: transparent;
	
	&-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-block: 1.8rem;
	}

	&-menu {
		margin-inline: auto;

		ul {
			display: flex;
			align-items: center;
			gap: 5.175rem;
		}
	}

	&-address {
		font-style: normal;
	}
}